* {
    box-sizing: border-box;
}
html, body {
    margin:0;
    padding:0;
    height:100%;
 }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

#isbn {
    width: 100%;
    margin-top: 20px;
}

form {
    margin-top: 40px;
    background-color: whitesmoke;
    text-align: center;
    padding: 30px;
}

#isbnSearch {
    margin-top: 20px;
}

h3 {
    font-weight: bold;
    margin-bottom: 50px;
}

h1,
h6 {
    font-weight: bold;
    margin-top: 50px;
}

select {
    padding: 20px;
    margin-bottom: 30px;
}

img {
    float: left;
}


/* Search  */

#searchContainer {
    align-items: center;
}

#search {
    background-color: white;
    text-decoration: bold;
}

.form-control:focus {
    box-shadow: none;
}

* .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.card-title {
    color: blue;
    text-decoration: underline;
}

#titleModal {
    text-align: left;
}


/* ABout page */

#aboutIntro {
    margin-top: 50px;
}

/* footer style */
.footerLinks{

    font-style: italic;
}
#footer{
    background-color: lightskyblue;
}
.footerContainer{
	bottom: 0;
	right: 0;
	left: 0;
}

/* add book page style */
#isbnHeader{
    display: inline;
}